[Unit]
Description=my-investments-api Daemon
After=network.target

[Service]
WorkingDirectory=%h/workspace/my-investments-api
ExecStart=/home/pi/.pyenv/shims/pipenv run python3 %h/workspace/my-investments-api/server.py
Restart=on-failure

[Install]
WantedBy=default.target
