[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-restplus = "*"
werkzeug = "==0.16.1"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
