[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
werkzeug = "==0.16.1"
flask-sqlalchemy = "*"
python-telegram-bot = "*"
python-dotenv = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
